section {
  position: relative;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blob{
  z-index: 0;
  position: absolute;
  height: 60%;
  width: 100%;
  max-width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blob:nth-child(2){
  filter: blur(50px);
}
.blobs{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  margin: 70px 0 70px 0;
}
.albumImg{
  max-width: 100px;
  z-index: 2;
}
