#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
section {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blob{
  z-index: 0;
  position: absolute;
  height: 60%;
  width: 100%;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blob:nth-child(2){
  filter: blur(50px);
}
.blobs{
  margin: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.albumImg{
  max-width: 100px;
  z-index: 2;
}
.row-class{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.col-class{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fish1{
  position: relative;
  width: 100px;
}
.fish5{
  position: relative;
  width: 100px;
}
.fish3{
  position: relative;
  width: 80px;
  margin-left: -40px;
  position: absolute;
  top: 100px;
}
.fish4{
  position: relative;
  width: 80px;
  margin-left: 60px;
}
.fish2 {
  position: relative;
  width: 60px;
  margin-left: 100px;
}
h5{
  color: rgb(255, 255, 255);
  z-index: 1;
}
.aquarium{
  width: 100%;
}
.slide-slow-one , .slide-slow-two , .slide-slow-three {
  width: 100%;
  position: absolute;
  flex-direction: column;
  display: flex;
}
.slide-slow-two{
  top: 450px;
  margin-left: -100px;
}
.slide-slow-three{
  top: 300px;
  right: 10px;
  margin-right: -500px;
}
.swimming {
  animation: slide-slow 3s forwards;
  transform: scaleX(1);
}

.back-swimming{
  animation: back-slide-slow 3s forwards;
  transform: scaleX(-1);
}

.swimming-normal-one {
  animation: slide-slow-normal 6s, slide-slow-img-normal 6s;
  animation-iteration-count: infinite;
}
.swimming-normal-two {
  animation: slide-slow-normal 10s, slide-slow-img-normal 10s;
  animation-iteration-count: infinite;
}
.swimming-normal-three {
  animation: slide-slow-normal 8s, slide-slow-img-normal 8s;
  animation-iteration-count: infinite;
}
@keyframes slide-slow-normal {
  0% {
    left: calc(100% - 88px);
  }
  49.99% {
    left: 0%;
  }
  50% {
    left: 0%;
  }
  99.99% {
    left: calc(100% - 88px);
  }
  100% {
    left: calc(100% - 88px);
  }
}

@keyframes slide-slow-img-normal {
  0% {
    transform: scaleX(1);
  }
  48% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(-1);
  }
  98% {
    transform: scaleX(-1);
  }
  100% {
    transform: scaleX(1);
  }
}


@keyframes slide-slow {
  from {
    left: 30%;
  }
  to {
    left: 120%;
  }
}

@keyframes back-slide-slow {
  from {
    left: 120%;
  }
  to {
    left: 30%;
  }
}

